@model Entities.Concrete.Car

@{
    ViewData["Title"] = "Details";
}

<h1 class="center">Details</h1>

<div>
    <h4 class="center">@Html.DisplayFor(model => model.Plate)</h4>
    <hr />
    <div class="container center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <h4 class="text-center">Details Card</h4>
                                    <hr />
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.Plate)
                                        </td>
                                        <td class="col-sm-8">
                                            @Html.DisplayFor(model => model.Plate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Brand Name
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Model.BrandName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Model Name
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Model.ModelName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Color.ColorName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Production Year
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ProductionYear)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Person Capacity
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PersonCapacity)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Load Limit
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.LoadLimit)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created Date
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.CreatedDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Is Deleted
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.IsDeleted)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Vehicle Image
                                        </td>
                                        <td>
                                            <img src="@("~/image/" + Model.ImageName)" asp-append-version="true" width="100%" height="100%" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <form>
                                <div class="btn-group center" role="group">
                                    <button asp-action="Edit" asp-route-id="@Model?.Id" type="submit" class="btn btn-gradient-primary">
                                        Edit
                                    </button>
                                    <button asp-action="Index" type="submit" value="Back" class="btn btn-gradient-secondary">
                                        Back
                                    </button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

