@model IEnumerable<Entities.Concrete.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary btn-outline-success" value="Create">Create New</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadLimit)
                </td>
                <td>
                    <img src="@("~/image/" + item.ImageName)" asp-append-version="true" width="150px" height="100px" />
                </td>
                <td>
                    
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success" value="Edit">Edit</button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success" value="Details">Details</button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success" value="Delete">Delete</button>
                        </a>
                    
                </td>             
            </tr>
        }
    </tbody>
</table>

@{
    bool checkRole = false;
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-controller="RoleViews" asp-action="Admin">
            <button type="button" class="btn btn-primary btn-outline-success" value="Admin">Back to the Admin Page</button>
        </a>
    </p>
    checkRole = true;
}
@if (User.IsInRole("Manager") && checkRole == false)
{
    <p>
        <a asp-controller="RoleViews" asp-action="Manager">
            <button type="button" class="btn btn-primary btn-outline-success" value="Manager">Back to the Manager Page</button>
        </a>
    </p>
}
