@model IEnumerable<Entities.Concrete.Car>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Vehicles</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary btn-outline-success" value="Create">Create New</button>
    </a>
</p>
<div class="text-center">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Plate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model.ModelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoadLimit)
                    </td>
                    <td>
                        <img src="@("~/image/" + item.ImageName)" asp-append-version="true" width="150px" height="100px" />
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success btn-sm" value="Edit">
                                <i data-feather="edit"></i>
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success btn-sm" value="Details">
                                <i data-feather="info"></i>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary btn-outline-success btn-sm" value="Delete">
                                <i data-feather="trash"></i>
                            </button>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    <a asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-primary btn-outline-success" value="Admin">Back to Home</button>
    </a>
</p>

