@model IEnumerable<Entities.Concrete.Car>

@{
    ViewData["Title"] = "Vehicles";
}

<h1 class="text-center">Vehicles</h1>

<hr />
<div class="right">
    <p>
        <a asp-action="Create">
            <button type="button" class="btn btn-gradient-primary" value="Create">
                <i data-feather="plus" class="me-25"></i>
                <span>Create New</span>
            </button>
        </a>
        <a asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-gradient-secondary" value="Admin">
                <i data-feather="home" class="me-25"></i>
                <span>Back to Home</span>
            </button>
        </a>
    </p>
</div>
<div class="text-center">
    <table class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Plate
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Color
                </th>
                <th>
                    Year
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Load
                </th>
                <th>
                    Image
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>            
            @foreach (var vehicle in Model)
            {
                <tr>
                    <td>
                        @vehicle.Plate
                    </td>
                    <td>
                        @vehicle.Model.BrandName
                    </td>
                    <td>
                        @vehicle.Model.ModelName
                    </td>
                    <td>
                        @vehicle.Color.ColorName
                    </td>
                    <td>
                        @vehicle.ProductionYear
                    </td>
                    <td>
                        @vehicle.PersonCapacity Persons
                    </td>
                    <td>
                        @vehicle.LoadLimit (Liter)
                    </td>
                    <td>
                        <img src="@("~/image/" + vehicle.ImageName)" asp-append-version="true" width="150px" height="100px" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@vehicle.Id">
                            <button type="button" class="btn btn-outline-primary btn-sm" value="Edit">
                                <i data-feather="edit"></i>
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@vehicle.Id">
                            <button type="button" class="btn btn-outline-info btn-sm" value="Details">
                                <i data-feather="info"></i>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@vehicle.Id">
                            <button type="button" class="btn btn-outline-danger btn-sm" value="Delete">
                                <i data-feather="trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: right;
    }
</style>