@using Business.Abstract;
@using DataAccess.Identity.Data
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IReservationService _reservationManager
@inject IVehicleService _vehicleManager
@inject IReasonService _reasonManager

@model Entities.Concrete.Reservation

@{
    ViewData["Title"] = "My Reservations";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var myReservationList = _reservationManager.GetMyReservations(userId);
}
<h1 class="text-center">My Reservations</h1>
<div class="container">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-2">
            @if (myReservationList.Count == 0)
            {
                <h1 class="text-center"></h1>
                <div class="py-5 text-center">
                    <h2>No reservation found!</h2>
                </div>
            }
            else
            {
                @foreach (var reservation in myReservationList)
                {
                    <div class="row-5">
                        <div class="card card-app-design">
                            <div class="card-body">
                                <span class="badge badge-light-secondary">Creation Date: @reservation.CreatedDate.ToShortDateString()</span>
                                <h4 class="card-title mt-1 mb-75 text-center">@_vehicleManager.GetVehicle(reservation.CarId).Plate</h4>

                                <p class="card-text font-small-2 mb-2">
                                    <img src="@("~/image/" + reservation.Car.ImageName)" asp-append-version="true" width="100%" height="250px" />
                                </p>

                                <div class="design-group">
                                    <h6 class="section-label">Reservation Reason</h6>
                                    @if (@_reasonManager.GetReason(reservation.ReasonForReservationId).Reason == "Service")
                                    {
                                        <span class="badge badge-light-danger me-1">Service</span>
                                    }
                                    else if (@reservation.ReasonForReservation.Reason == "Customer Visit")
                                    {
                                        <span class="badge badge-light-info me-1">Customer Visit</span>
                                    }
                                    else if (@reservation.ReasonForReservation.Reason == "Receive Goods")
                                    {
                                        <span class="badge badge-light-warning me-1">Receive Goods</span>
                                    }
                                    else if (@reservation.ReasonForReservation.Reason == "Other")
                                    {
                                        <span class="badge badge-light-light me-1">Other</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-light-danger me-1">@reservation.ReasonForReservation.Reason</span>
                                    }
                                </div>
                                <div class="design-planning-wrapper justify-content-sm-center">
                                    <div class="design-planning">
                                        <p class="card-text mb-25">Reservation Date</p>
                                        <h6 class="mb-0">@reservation.ReservationDate.ToShortDateString()</h6>
                                    </div>
                                    <div class="design-planning">
                                        <p class="card-text mb-25">Delivery Time</p>
                                        <h6 class="mb-0">@reservation.DeliveryTime.ToShortDateString()</h6>
                                    </div>
                                </div>

                                @if (DateTime.Today < reservation.DeliveryTime && reservation.ReservationDate <= DateTime.Today)
                                {
                                    <a asp-action="EarlyDeliver" asp-route-id="@reservation.Id">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-info">Early Delivery</button>
                                        </div>
                                    </a>
                                }
                                else if (reservation.ReservationDate > DateTime.Today)
                                {                                    
                                    <a asp-action="CancelReservation" asp-route-id="@reservation.Id">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-danger">Cancel Reservation</button>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-secondary" disabled="disabled">Done</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </main>
</div>