@model IEnumerable<Entities.Concrete.Maintenance>

@{
    ViewData["Title"] = "Maintenances";
}

<h1 class="text-center">Maintenances</h1>

<hr />
<div class="right">
    <p>
        <a asp-action="Create">
            <button type="button" class="btn btn-gradient-primary" value="Create">
                <i data-feather="plus" class="me-25"></i>
                <span>Create New</span>
            </button>
        </a>
        <a asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-gradient-secondary" value="Admin">
                <i data-feather="home" class="me-25"></i>
                <span>Back to Home</span>
            </button>
        </a>
    </p>
</div>
<div class="text-center">
    <table class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Plate
                </th>
                <th>
                    Image
                </th>
                <th>
                    Last M. Time
                </th>
                <th>
                    Work Done
                </th>
                <th>
                    Next M. Time
                </th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Car.Plate
                    </td>
                    <td>
                        <img src="@("~/image/" + item.Car.ImageName)" asp-append-version="true" width="150px" height="100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastMaintenanceTime)
                    </td>
                    <td>
                        @item.WorkDone
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextMaintenanceTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-primary btn-md" value="Edit">
                                <i data-feather="edit"></i>
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-info btn-md" value="Details">
                                <i data-feather="info"></i>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-danger btn-md" value="Delete">
                                <i data-feather="trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: right;
    }
</style>