@model IEnumerable<Entities.Concrete.Model>

@{
    ViewData["Title"] = "Models";
}

<h1 class="text-center">Models</h1>

<div class="right">
    <p>
        <a asp-action="Create">
            <button type="button" class="btn btn-gradient-primary" value="Create">
                <i data-feather="plus" class="me-25"></i>
                <span>Create New</span>
            </button>
        </a>
        <a asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-gradient-secondary" value="Admin">
                <i data-feather="home" class="me-25"></i>
                <span>Back to Home</span>
            </button>
        </a>
    </p>
</div>
<div class="text-center">
    <table class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Model Name
                </th>
                <th>
                    Brand Name
                </th>
                <th>
                    Created Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ModelName
                    </td>
                    <td>
                        @item.BrandName
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-primary btn-md" value="Edit">
                                <i data-feather="edit"></i>
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-info btn-md" value="Details">
                                <i data-feather="info"></i>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-outline-danger btn-md" value="Delete">
                                <i data-feather="trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    <a asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-primary btn-outline-success" value="Admin">Back to Home</button>
    </a>
</p>
